body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-preahvihear: Preahvihear;
  --font-montserrat: Montserrat;
  --font-raleway: Raleway;
  --font-cabin-condensed: "Cabin Condensed";
  --font-open-sans: "Open Sans";
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-poetsenone: PoetsenOne;
  --font-poor-story: "Poor Story";
  --font-hind-kochi: "Hind Kochi";
  --font-knewave: Knewave;
  --font-gorditas: Gorditas;
  --font-jua: Jua;
  --font-indie-flower: "Indie Flower";
  --font-happy-monkey: "Happy Monkey";
  --font-inherit: inherit;
  --font-engagement: Engagement;
  --font-gupter: Gupter;
  --font-inter: Inter;
  --font-degular: Degular;
  --font-fjord: Fjord;
  --font-glory: Glory;
  --font-iceberg: Iceberg;
  --font-roboto: Roboto;
  --font-space-grotesk: "Space Grotesk";
  --font-manrope: Manrope;
  --font-helvetica: Helvetica;
  --font-covered-by-your-grace: "Covered By Your Grace";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-2xl: 21px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-31xl: 50px;
  --font-size-3xl: 22px;
  --font-size-45xl: 64px;
  --font-size-9xl: 28px;
  --font-size-sm: 14px;
  --font-size-13xl: 32px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-7xl: 26px;
  --font-size-base: 16px;
  --font-size-15xl: 34px;
  --font-size-lg: 18px;
  --font-size-6xl: 25px;
  --font-size-21xl: 40px;
  --font-size-2xs: 11px;
  --font-size-11xl: 30px;
  --font-size-51xl: 70px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-77xl: 96px;
  --font-size-101xl: 120px;
  --font-size-43xl: 62px;
  --font-size-81xl: 100px;
  --font-size-28xl: 47px;
  --font-size-53xl: 72px;
  --font-size-61xl: 80px;
  --font-size-lgi: 19px;
  --font-size-4xl: 23px;
  --font-size-16xl: 35px;
  --font-size-37xl: 56px;
  --font-size-17xl: 36px;
  --font-size-41xl: 60px;
  --font-size-smi-5: 12.5px;
  --font-size-mini-5: 14.5px;
  --font-size-sm-5: 13.5px;
  --font-size-xs-6: 11.6px;
  --font-size-base-4: 16.4px;
  --font-size-10xl-9: 29.9px;
  --font-size-9xl-9: 28.9px;
  --font-size-mid-4: 17.4px;
  --font-size-17xl-6: 36.6px;
  --font-size-4xs-5: 8.5px;
  --font-size-22xl-3: 41.3px;
  --font-size-65xl-5: 84.5px;
  --font-size-2xl-2: 21.2px;
  --font-size-lgi-2: 19.2px;
  --font-size-40xl-8: 59.8px;
  --font-size-42xl-8: 61.8px;
  --font-size-35xl: 54px;
  --font-size-36xl: 55px;
  --font-size-10xl: 29px;
  --font-size-68xl: 87px;
  --font-size-12xl: 31px;
  --font-size-95xl: 114px;
  --font-size-75xl-8: 94.8px;
  --font-size-mini-4: 14.4px;
  --font-size-sm-4: 13.4px;
  --font-size-104xl-4: 123.4px;
  --font-size-5xl-7: 24.7px;
  --font-size-4xl-7: 23.7px;
  --font-size-lg-5: 18.5px;
  --font-size-289xl-6: 308.6px;
  --font-size-83xl-9: 102.9px;
  --font-size-12xl-9: 31.9px;
  --font-size-xs-3: 11.3px;
  --font-size-base-5: 16.5px;
  --font-size-109xl: 128px;
  --font-size-40xl: 59px;
  --font-size-lg-8: 18.8px;
  --font-size-26xl: 45px;
  --font-size-102xl: 121px;
  --font-size-25xl: 44px;
  --font-size-38xl: 57px;
  --font-size-229xl: 248px;
  --font-size-20xl: 39px;
  --font-size-19xl: 38px;
  --font-size-mid-8: 17.8px;
  --font-size-39xl: 58px;
  --font-size-44xl: 63px;
  --font-size-8xl: 27px;
  --font-size-90xl: 109px;
  --font-size-3xl-5: 22.5px;
  --font-size-2xl-5: 21.5px;
  --font-size-23xl: 42px;
  --font-size-63xl-5: 82.5px;
  --font-size-xl-5: 20.5px;
  --font-size-24xl: 43px;
  --font-size-91xl: 110px;
  --font-size-87xl: 106px;
  --font-size-100xl-5: 119.5px;
  --font-size-18xl: 37px;

  /* Colors */
  --color-white-100: #fff;
  --color-dodgerblue-100: #5297ff;
  --color-dodgerblue-400: #2e8eff;
  --color-dodgerblue-200: #298bef;
  --color-dodgerblue-300: #2785e5;
  --color-whitesmoke-100: #f9fafb;
  --color-whitesmoke-200: #f3fafa;
  --color-whitesmoke-300: #f5f5f5;
  --color-whitesmoke-400: #f3f4f6;
  --color-whitesmoke-500: #f4f4f4;
  --color-whitesmoke-600: #f2f2f2;
  --color-whitesmoke-700: #f0f0f0;
  --color-whitesmoke-1000: #eee;
  --color-whitesmoke-800: #e7eeec;
  --color-whitesmoke-900: #e9e9e9;
  --color-midnightblue-100: #2c1250;
  --color-midnightblue-500: #2e0249;
  --color-midnightblue-200: #02033b;
  --color-midnightblue-300: #050038;
  --color-midnightblue-400: rgba(5, 0, 56, 0.6);
  --color-black: #000;
  --color-gray-100: #fafafa;
  --color-gray-200: #888;
  --color-gray-300: #868490;
  --color-gray-400: #73757b;
  --color-gray-500: #757575;
  --color-gray-600: #1f2937;
  --color-gray-700: #222;
  --color-gray-800: #1c1c1e;
  --color-gray-900: #141619;
  --color-gray-1000: #141414;
  --color-gray-1100: #0f0f12;
  --color-gray-1200: #11071f;
  --color-gray-1300: #0b0b0b;
  --color-gray-1400: rgba(255, 255, 255, 0.13);
  --color-gray-1500: rgba(255, 255, 255, 0.8);
  --color-gray-1600: rgba(255, 255, 255, 0.55);
  --color-gray-1700: rgba(255, 255, 255, 0.25);
  --color-gray-1800: rgba(255, 255, 255, 0.88);
  --color-gray-1900: rgba(0, 0, 0, 0.7);
  --color-gray-2000: rgba(255, 255, 255, 0.08);
  --color-gray-2100: rgba(0, 0, 0, 0.6);
  --color-gray-2200: rgba(0, 0, 0, 0.1);
  --color-gray-2300: rgba(255, 255, 255, 0.2);
  --color-gray-2400: rgba(0, 0, 0, 0.65);
  --color-gray-2500: rgba(255, 255, 255, 0.65);
  --color-gray-2600: rgba(255, 255, 255, 0.6);
  --color-gray-2700: rgba(31, 41, 55, 0.5);
  --color-gray-2800: rgba(20, 20, 20, 0.5);
  --color-gray-2900: rgba(255, 255, 255, 0.5);
  --color-gray-3100: rgba(255, 255, 255, 0.1);
  --color-gray-3200: rgba(255, 255, 255, 0.98);
  --color-gray-3300: rgba(255, 255, 255, 0.3);
  --color-gray-3400: rgba(255, 255, 255, 0.64);
  --color-gray-3500: rgba(255, 255, 255, 0);
  --color-gray-3600: rgba(255, 255, 255, 0.12);
  --color-gray-3700: rgba(9, 20, 39, 0.8);
  --color-gray-3800: rgba(16, 27, 46, 0.3);
  --color-gray-3900: rgba(255, 255, 255, 0.7);
  --color-gray-3000: rgba(255, 255, 255, 0.4);
  --color-gray-4000: rgba(0, 0, 0, 0.3);
  --color-blueviolet: #4335de;
  --color-steelblue: #385682;
  --color-cornflowerblue-100: #1da1f2;
  --color-cornflowerblue-200: #237ad3;
  --color-cornflowerblue-300: rgba(126, 178, 255, 0.85);
  --color-mediumblue-100: #0045ff;
  --color-mediumblue-200: #1e26eb;
  --color-darkorchid-100: #7127ba;
  --color-yellow-100: #edf738;
  --color-yellow-200: #eeee24;
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #e5e7eb;
  --color-gainsboro-300: #e5e5e5;
  --color-gainsboro-400: #e1e1e1;
  --color-gainsboro-500: rgba(232, 232, 232, 0.16);
  --color-gainsboro-600: rgba(229, 231, 235, 0.5);
  --color-indigo: #4f228d;
  --color-mediumslateblue-100: #5b6cff;
  --color-mediumslateblue-200: #4262ff;
  --color-mediumorchid-100: #9857d3;
  --color-lightsteelblue: #ccd6f6;
  --color-royalblue-100: #3e6dd9;
  --color-royalblue-200: rgba(62, 109, 217, 0.7);
  --color-royalblue-300: rgba(62, 109, 217, 0.4);
  --color-crimson-100: #dc2b46;
  --color-crimson-200: rgba(220, 43, 70, 0.4);
  --color-crimson-300: rgba(220, 43, 70, 0.72);
  --color-darkblue-100: #290099;
  --color-gold-100: #fcce30;
  --color-gold-200: #ffc501;
  --color-deeppink: #e3217d;
  --color-aliceblue-100: #f3f8ff;
  --color-lightpink-100: #edadcb;
  --theme-190-off-primary-color: #8ce2f3;
  --theme-190-primary-color: #298fa3;
  --theme-190-dead-primary-color: #e7fafe;
  --theme-190-contrast: #47656b;
  --color-darkslategray-100: #484848;
  --color-darkslategray-200: #0c513f;
  --color-darkslategray-300: #333;
  --color-darkslategray-400: #2e2f35;
  --color-darkslategray-500: #2f2f2f;
  --color-darkslategray-600: rgba(46, 47, 53, 0.4);
  --color-darkslategray-700: rgba(12, 81, 63, 0.05);
  --color-darkslategray-800: rgba(12, 81, 63, 0.02);
  --color-linen-100: #fdf3ea;
  --color-khaki-100: #f3ffab;
  --color-palegoldenrod-100: #f8e7a1;
  --color-goldenrod: #ffc247;
  --color-mediumturquoise-100: #6fdbd4;
  --color-mediumturquoise-200: #1fc6bb;
  --color-darkgray-100: #9ca3af;
  --color-darkgray-200: #a0a1a8;
  --color-darkgray-300: #a89b90;
  --color-darkgray-400: #999;
  --color-lightseagreen: rgba(16, 172, 162, 1);
  --color-silver-100: #d1c7be;
  --color-silver-200: #bcbcbc;
  --color-silver-300: rgba(199, 197, 213, 0.2);
  --color-silver-400: rgba(196, 196, 196, 0.12);
  --color-slategray-100: #6b7280;
  --color-slategray-200: rgba(65, 85, 114, 0.5);
  --color-dimgray-100: #58595d;
  --color-dimgray-200: rgba(75, 85, 99, 0.5);
  --color-tomato-100: #ff6d2c;
  --color-tomato-200: #f85430;
  --color-lightslategray-100: #9b99af;
  --color-slateblue: #3549cb;
  --color-coral: #ff884d;
  --color-lemonchiffon: #fff3cc;
  --color-mintcream: #f2fcf9;
  --color-ghostwhite: #f1f3fd;
  --color-lightcyan-100: #e0f8f2;
  --color-darkcyan-100: #009387;
  --color-darkcyan-200: rgba(0, 147, 135, 0.4);
  --color-lavender: #eeecff;

  /* Gaps */
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-13xl: 32px;
  --gap-xs: 12px;
  --gap-29xl: 48px;
  --gap-17xl: 36px;
  --gap-41xl: 60px;
  --gap-lg: 18px;
  --gap-6xl: 25px;
  --gap-9xs-6: 3.6px;
  --gap-9xs: 4px;
  --gap-12xs-1: 0.1px;
  --gap-5xs-6: 7.6px;
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-4xs-6: 8.6px;
  --gap-xl: 20px;
  --gap-5xl-7: 24.7px;
  --gap-xs-3: 11.3px;
  --gap-61xl: 80px;
  --gap-77xl: 96px;
  --gap-45xl: 64px;
  --gap-7xs: 6px;
  --gap-6xs: 7px;
  --gap-71xl: 90px;
  --gap-xs-4: 11.4px;
  --gap-3xs-6: 9.6px;
  --gap-6xs-7: 6.7px;
  --gap-8xs: 5px;
  --gap-10xl: 29px;
  --gap-11xs: 2px;
  --gap-8xs-5: 4.5px;
  --gap-113xl: 132px;
  --gap-11xl: 30px;
  --gap-15xl: 34px;
  --gap-smi: 13px;
  --gap-12xl: 31px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-45xl: 64px;
  --padding-xl: 20px;
  --padding-mid: 17px;
  --padding-101xl: 120px;
  --padding-mini-5: 14.5px;
  --padding-77xl: 96px;
  --padding-173xl: 192px;
  --padding-16xl: 35px;
  --padding-17xl: 36px;
  --padding-68xl: 87px;
  --padding-61xl: 80px;
  --padding-70xl: 89px;
  --padding-6xl: 25px;
  --padding-9xs: 4px;
  --padding-smi: 13px;
  --padding-65xl: 84px;
  --padding-xs: 12px;
  --padding-28xl: 47px;
  --padding-29xl: 48px;
  --padding-xl-4: 20.4px;
  --padding-35xl: 54px;
  --padding-base-5: 15.5px;
  --padding-6xl-6: 25.6px;
  --padding-33xl: 52px;
  --padding-8xs-7: 4.7px;
  --padding-2xl-9: 21.9px;
  --padding-12xs: 1px;
  --padding-25xl: 44px;
  --padding-281xl: 300px;
  --padding-3xl: 22px;
  --padding-11xs: 2px;
  --padding-113xl: 132px;
  --padding-41xl: 60px;
  --padding-174xl-6: 193.6px;
  --padding-81xl: 100px;
  --padding-0: 0px;
  --padding-lg: 18px;
  --padding-mini-4: 14.4px;
  --padding-4xs-6: 8.6px;
  --padding-81xl-8: 100.8px;
  --padding-mini-8: 14.8px;
  --padding-4xl: 23px;
  --padding-701xl: 720px;
  --padding-104xl-6: 123.6px;
  --padding-mini: 15px;
  --padding-10xl-2: 29.2px;
  --padding-9xl: 28px;
  --padding-10xl-5: 29.5px;
  --padding-lgi: 19px;
  --padding-15xl: 34px;
  --padding-5xs: 8px;
  --padding-93xl: 112px;
  --padding-11xl-5: 30.5px;
  --padding-7xl: 26px;
  --padding-12xs-7: 0.7px;
  --padding-8xl: 27px;
  --padding-661xl: 680px;
  --padding-5263xl-7: 5282.7px;
  --padding-sm: 14px;
  --padding-22xl: 41px;
  --padding-13xl: 32px;
  --padding-10xl-3: 29.3px;
  --padding-23xl: 42px;
  --padding-2xl: 21px;
  --padding-47xl: 66px;
  --padding-122xl-5: 141.5px;
  --padding-10xs: 3px;
  --padding-21xl: 40px;
  --padding-3xs-6: 9.6px;
  --padding-smi-4: 12.4px;
  --padding-xs-8: 11.8px;
  --padding-152xl: 171px;
  --padding-6xs: 7px;
  --padding-48xl-9: 67.9px;
  --padding-5xl-7: 24.7px;
  --padding-4xs-2: 8.2px;
  --padding-2xl-7: 21.7px;
  --padding-12xs-8: 0.8px;
  --padding-58xl-6: 77.6px;
  --padding-8xs-6: 4.6px;
  --padding-125xl: 144px;
  --padding-smi-8: 12.8px;
  --padding-7xs-4: 5.4px;
  --padding-4xl-4: 23.4px;
  --padding-11xs-6: 1.6px;
  --padding-325xl: 344px;
  --padding-75xl: 94px;
  --padding-3xl-8: 22.8px;
  --padding-xl-1: 20.1px;
  --padding-base-2: 16.2px;
  --padding-3xs: 10px;
  --padding-12xs-2: 0.2px;
  --padding-121xl: 140px;
  --padding-37xl-9: 56.9px;
  --padding-mid-2: 17.2px;
  --padding-39xl-1: 58.1px;
  --padding-261xl: 280px;
  --padding-171xl: 190px;
  --padding-11xl: 30px;
  --padding-base-1: 16.1px;
  --padding-base-7: 16.7px;
  --padding-284xl-7: 303.7px;
  --padding-288xl-7: 307.7px;
  --padding-11xs-8: 1.8px;
  --padding-sm-8: 13.8px;
  --padding-sm-9: 13.9px;
  --padding-lg-8: 18.8px;
  --padding-lgi-9: 19.9px;
  --padding-8xs-1: 4.1px;
  --padding-131xl: 150px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-14xl-5: 33.5px;
  --padding-15xl-5: 34.5px;
  --padding-14xl: 33px;
  --padding-7xs: 6px;
  --padding-115xl-6: 134.6px;
  --padding-8xs: 5px;
  --padding-115xl-7: 134.7px;
  --padding-10xl: 29px;
  --padding-134xl: 153px;
  --padding-50xl: 69px;
  --padding-11xs-4: 1.4px;
  --padding-34xl: 53px;
  --padding-2xs-1: 10.1px;
  --padding-158xl: 177px;
  --padding-158xl-9: 177.9px;
  --padding-57xl-8: 76.8px;
  --padding-141xl: 160px;
  --padding-191xl: 210px;
  --padding-3xl-3: 22.3px;
  --padding-5xl-3: 24.3px;
  --padding-2xl-8: 21.8px;
  --padding-56xl: 75px;
  --padding-43xl-3: 62.3px;
  --padding-46xl: 65px;
  --padding-754xl-6: 773.6px;
  --padding-5xs-6: 7.6px;
  --padding-9xl-5: 28.5px;
  --padding-461xl: 480px;
  --padding-10xs-8: 2.8px;

  /* border radiuses */
  --br-base: 16px;
  --br-11xl: 30px;
  --br-8xl: 27px;
  --br-xl: 20px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-56xl: 75px;
  --br-19xl: 38px;
  --br-37xl: 56px;
  --br-45xl: 64px;
  --br-7xs: 6px;
  --br-xs: 12px;
  --br-23xl: 42px;
  --br-2xl: 21px;
  --br-12xs: 1px;
  --br-29xl: 48px;
  --br-21xl: 40px;
  --br-116xl-2: 135.2px;
  --br-10xs-9: 2.9px;
  --br-lgi-3: 19.3px;
  --br-5xs: 8px;
  --br-17xl-7: 36.7px;
  --br-13xl: 32px;
  --br-9980xl: 9999px;
  --br-66xl: 85px;
  --br-10xs: 3px;
  --br-9xs: 4px;
  --br-276xl: 295px;
  --br-31xl: 50px;
  --br-81xl: 100px;
  --br-493xl: 512px;
  --br-173xl: 192px;
  --br-365xl: 384px;
  --br-981xl: 1000px;
  --br-11xs: 2px;
  --br-1421xl: 1440px;
  --br-5xl: 24px;
  --br-9xl: 28px;
  --br-smi: 13px;
}
